In [25]:
import numpy as np
import xgboost as xgb
import pandas as pd
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

In [26]:
df_data=pd.read_csv('train.csv',encoding='utf-8')
df_label=pd.read_csv('train_target.csv',encoding='utf-8')
df_test=pd.read_csv('test.csv',encoding='utf-8')

In [27]:
def resumetable(df):
    print(f"Dataset Shape: {df.shape}")
    summary = pd.DataFrame(df.dtypes,columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values
    summary['Uniques'] = df.nunique().values
    summary['Value Example'] = df.loc[0].values
    
    for name in summary['Name'].value_counts().index:
        summary.loc[summary['Name'] == name, 'Entropy'] = round(stats.entropy(df[name].value_counts(normalize=True), base=2),2)
    return summary

In [28]:
X = df_data.drop(['id'], axis=1)
Y = df_label['target']
Z = df_test.drop(['id'], axis=1)

In [29]:
X['bank_pre'] = X['bankCard'][:-1]
X['x_277168'] = X['x_27'] * X['x_68'] * X['x_71'] 
X['certValid'] = X['lmt'] * X['basicLevel']


Z['bank_pre'] = Z['bankCard'][:-1]
Z['x_277168'] = Z['x_27'] * Z['x_68'] * Z['x_71']
Z['certValid'] = Z['lmt'] * Z['basicLevel']

In [31]:
try:
    X['temp'] =X['certValidStop']-X['certValidBegin']
except Exception as e:
    X['temp'] ='9999999999'
#X['cert'] = X['certId'].map(str)+X['temp'].map(str)
X['cert'] = X['temp'].astype(float)

In [32]:
try:
    Z['temp'] =Z['certValidStop']-Z['certValidBegin']
except Exception as e:
    Z['temp'] ='9999999999'
#Z['cert'] = Z['certId'].map(str)+Z['temp'].map(str)
Z['cert'] = Z['temp'].astype(float)

In [33]:
X = X.drop(['temp'], axis=1)
Z = Z.drop(['temp'], axis=1)
resumetable(X)

Dataset Shape: (132029, 107)

                 Name   dtypes  Missing  Uniques  Value Example  Entropy
0              certId    int64        0     4033   6.405820e+05    11.10
1         loanProduct    int64        0        3   1.000000e+00     1.47
2              gender    int64        0        2   2.000000e+00     0.80
3                 age    int64        0       38   2.700000e+01     4.64
4                dist    int64        0     3738   6.405000e+05    10.28
5                 edu    int64        0        9   0.000000e+00     0.16
6                 job    int64        0       13   8.000000e+00     2.27
7                 lmt  float64        0     1718   5.963000e+00     8.74
8          basicLevel    int64        0        6   3.000000e+00     1.68
9                 x_0    int64        0        2   0.000000e+00     0.02
10                x_1    int64        0        2   0.000000e+00     0.02
11                x_2    int64        0        2   0.000000e+00     0.02
12                x_3    int64        0        2   0.000000e+00     0.02
13                x_4    int64        0        2   0.000000e+00     0.02
14                x_5    int64        0        2   0.000000e+00     0.02
15                x_6    int64        0        2   0.000000e+00     0.02
16                x_7    int64        0        2   0.000000e+00     0.02
17                x_8    int64        0        2   0.000000e+00     0.02
18                x_9    int64        0        2   0.000000e+00     0.02
19               x_10    int64        0        2   0.000000e+00     0.02
20               x_11    int64        0        2   0.000000e+00     0.02
21               x_12    int64        0        3   0.000000e+00     0.32
22               x_13    int64        0        2   0.000000e+00     0.02
23               x_14    int64        0        3   0.000000e+00     0.70
24               x_15    int64        0        2   0.000000e+00     0.02
25               x_16    int64        0        3   1.000000e+00     0.08
26               x_17    int64        0        2   0.000000e+00     0.02
27               x_18    int64        0        2   0.000000e+00     0.02
28               x_19    int64        0        2   0.000000e+00     0.02
29               x_20    int64        0        3   1.000000e+00     0.26
..                ...      ...      ...      ...            ...      ...
77               x_68    int64        0        3   0.000000e+00     0.33
78               x_69    int64        0        3   0.000000e+00     0.06
79               x_70    int64        0        2   1.000000e+00     0.02
80               x_71    int64        0        3   0.000000e+00     0.84
81               x_72    int64        0        3   0.000000e+00     0.62
82               x_73    int64        0        3   0.000000e+00     0.18
83               x_74    int64        0        3   1.000000e+00     0.66
84               x_75    int64        0        3   0.000000e+00     0.84
85               x_76    int64        0        3   0.000000e+00     0.34
86               x_77    int64        0        2   0.000000e+00     0.02
87               x_78    int64        0        2   0.000000e+00     0.02
88     certValidBegin    int64        0     5149   3.637094e+09    11.58
89      certValidStop  float64        0     6852   3.952714e+09    12.14
90           bankCard  float64    20152     5991  -9.990000e+02     8.51
91             ethnic    int64        0       49   0.000000e+00     0.69
92       residentAddr    int64        0     5288   6.405130e+05     7.73
93         highestEdu    int64        0        9  -9.990000e+02     0.73
94           linkRela    int64        0        9   0.000000e+00     2.51
95          setupHour    int64        0       24   9.000000e+00     4.31
96            weekday    int64        0        7   6.000000e+00     2.71
97   ncloseCreditCard    int64        0        3   1.000000e+00     0.75
98      unpayIndvLoan    int64        0        3   0.000000e+00     0.61
99     unpayOtherLoan    int64        0        3   1.000000e+00     0.57
100   unpayNormalLoan    int64        0        3   0.000000e+00     0.64
101      5yearBadloan    int64        0        2   0.000000e+00     0.02
102             isNew    int64        0        2   1.000000e+00     0.94
103          bank_pre  float64    20153     5991  -9.990000e+02     8.51
104          x_277168    int64        0        3   0.000000e+00     0.10
105         certValid  float64        0     3638   1.788900e+01     9.99
106              cert  float64        0      525   3.156192e+08     1.55

[107 rows x 6 columns]

In [34]:
#X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=.2,random_state=0)
X_train, Y_train = X, Y

In [35]:
# kf = KFold(n_splits=5, shuffle=False)
# flag =0 
# for train_index, test_index in kf.split(X):
#     X_train = X.loc[train_index]
#     Y_train = Y.loc[train_index]
#     X_test = X.loc[test_index]
#     Y_test = Y.loc[test_index]
#     model = xgb.XGBClassifier(base_score = 0.06)
#     model.fit(X_train,Y_train)
#     y_pred = model.predict_proba(Z)[:,1]
#     print(y_pred)
#     print(flag)
#     if flag == 0:
#         preds = np.array(y_pred)
#         flag = 1
#     else:
#         #sums =  np.row_stack((preds, y_pred)) 
#         sums = np.maximum(preds,y_pred)
#         preds =  sums
#         print(preds)

In [36]:
# preds.shape
# test_pred = preds
# test_pred

In [37]:
model = xgb.XGBClassifier(base_score = 0.06)
model.fit(X_train,Y_train)

XGBClassifier(base_score=0.06, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [38]:
importances = model.feature_importances_ 
indices = np.argsort(importances)[::-1]
feat_labels = X_train.columns
print("Feature ranking:") 
#    l1,l2,l3,l4 = [],[],[],[]
for f in range(X_train.shape[1]):
    print("%d. feature no:%d feature name:%s (%f)" % (f + 1, indices[f], feat_labels[indices[f]], importances[indices[f]]))
print (">>>>>", importances)

Feature ranking:
1. feature no:54 feature name:x_45 (0.070059)
2. feature no:55 feature name:x_46 (0.044027)
3. feature no:71 feature name:x_62 (0.038892)
4. feature no:1 feature name:loanProduct (0.038735)
5. feature no:103 feature name:bank_pre (0.033312)
6. feature no:3 feature name:age (0.027512)
7. feature no:7 feature name:lmt (0.025854)
8. feature no:105 feature name:certValid (0.025663)
9. feature no:90 feature name:bankCard (0.024821)
10. feature no:61 feature name:x_52 (0.024507)
11. feature no:6 feature name:job (0.023906)
12. feature no:77 feature name:x_68 (0.023725)
13. feature no:36 feature name:x_27 (0.023562)
14. feature no:8 feature name:basicLevel (0.023190)
15. feature no:37 feature name:x_28 (0.023051)
16. feature no:93 feature name:highestEdu (0.022962)
17. feature no:104 feature name:x_277168 (0.022059)
18. feature no:80 feature name:x_71 (0.021389)
19. feature no:81 feature name:x_72 (0.020828)
20. feature no:25 feature name:x_16 (0.020737)
21. feature no:84 feature name:x_75 (0.020253)
22. feature no:89 feature name:certValidStop (0.020096)
23. feature no:91 feature name:ethnic (0.020002)
24. feature no:4 feature name:dist (0.019842)
25. feature no:0 feature name:certId (0.019765)
26. feature no:92 feature name:residentAddr (0.019736)
27. feature no:76 feature name:x_67 (0.019064)
28. feature no:5 feature name:edu (0.018777)
29. feature no:29 feature name:x_20 (0.018699)
30. feature no:42 feature name:x_33 (0.018581)
31. feature no:43 feature name:x_34 (0.018321)
32. feature no:94 feature name:linkRela (0.018228)
33. feature no:95 feature name:setupHour (0.017165)
34. feature no:23 feature name:x_14 (0.017120)
35. feature no:2 feature name:gender (0.016526)
36. feature no:52 feature name:x_43 (0.016291)
37. feature no:70 feature name:x_61 (0.015201)
38. feature no:96 feature name:weekday (0.015073)
39. feature no:38 feature name:x_29 (0.014500)
40. feature no:88 feature name:certValidBegin (0.013986)
41. feature no:50 feature name:x_41 (0.013867)
42. feature no:64 feature name:x_55 (0.013064)
43. feature no:60 feature name:x_51 (0.010130)
44. feature no:106 feature name:cert (0.009275)
45. feature no:62 feature name:x_53 (0.008296)
46. feature no:56 feature name:x_47 (0.004936)
47. feature no:34 feature name:x_25 (0.004413)
48. feature no:15 feature name:x_6 (0.000000)
49. feature no:27 feature name:x_18 (0.000000)
50. feature no:26 feature name:x_17 (0.000000)
51. feature no:83 feature name:x_74 (0.000000)
52. feature no:24 feature name:x_15 (0.000000)
53. feature no:85 feature name:x_76 (0.000000)
54. feature no:22 feature name:x_13 (0.000000)
55. feature no:21 feature name:x_12 (0.000000)
56. feature no:20 feature name:x_11 (0.000000)
57. feature no:19 feature name:x_10 (0.000000)
58. feature no:18 feature name:x_9 (0.000000)
59. feature no:17 feature name:x_8 (0.000000)
60. feature no:16 feature name:x_7 (0.000000)
61. feature no:14 feature name:x_5 (0.000000)
62. feature no:82 feature name:x_73 (0.000000)
63. feature no:13 feature name:x_4 (0.000000)
64. feature no:12 feature name:x_3 (0.000000)
65. feature no:11 feature name:x_2 (0.000000)
66. feature no:10 feature name:x_1 (0.000000)
67. feature no:9 feature name:x_0 (0.000000)
68. feature no:86 feature name:x_77 (0.000000)
69. feature no:87 feature name:x_78 (0.000000)
70. feature no:97 feature name:ncloseCreditCard (0.000000)
71. feature no:98 feature name:unpayIndvLoan (0.000000)
72. feature no:99 feature name:unpayOtherLoan (0.000000)
73. feature no:100 feature name:unpayNormalLoan (0.000000)
74. feature no:101 feature name:5yearBadloan (0.000000)
75. feature no:102 feature name:isNew (0.000000)
76. feature no:28 feature name:x_19 (0.000000)
77. feature no:31 feature name:x_22 (0.000000)
78. feature no:30 feature name:x_21 (0.000000)
79. feature no:63 feature name:x_54 (0.000000)
80. feature no:65 feature name:x_56 (0.000000)
81. feature no:59 feature name:x_50 (0.000000)
82. feature no:58 feature name:x_49 (0.000000)
83. feature no:57 feature name:x_48 (0.000000)
84. feature no:66 feature name:x_57 (0.000000)
85. feature no:67 feature name:x_58 (0.000000)
86. feature no:68 feature name:x_59 (0.000000)
87. feature no:69 feature name:x_60 (0.000000)
88. feature no:51 feature name:x_42 (0.000000)
89. feature no:72 feature name:x_63 (0.000000)
90. feature no:49 feature name:x_40 (0.000000)
91. feature no:48 feature name:x_39 (0.000000)
92. feature no:47 feature name:x_38 (0.000000)
93. feature no:46 feature name:x_37 (0.000000)
94. feature no:45 feature name:x_36 (0.000000)
95. feature no:44 feature name:x_35 (0.000000)
96. feature no:73 feature name:x_64 (0.000000)
97. feature no:74 feature name:x_65 (0.000000)
98. feature no:41 feature name:x_32 (0.000000)
99. feature no:40 feature name:x_31 (0.000000)
100. feature no:39 feature name:x_30 (0.000000)
101. feature no:75 feature name:x_66 (0.000000)
102. feature no:78 feature name:x_69 (0.000000)
103. feature no:79 feature name:x_70 (0.000000)
104. feature no:35 feature name:x_26 (0.000000)
105. feature no:33 feature name:x_24 (0.000000)
106. feature no:32 feature name:x_23 (0.000000)
107. feature no:53 feature name:x_44 (0.000000)
>>>>> [0.01976475 0.03873469 0.01652559 0.02751201 0.01984194 0.01877689
 0.02390601 0.02585418 0.0231897  0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.01711966
 0.         0.02073716 0.         0.         0.         0.01869935
 0.         0.         0.         0.         0.00441251 0.
 0.02356186 0.02305132 0.01450046 0.         0.         0.
 0.01858135 0.01832095 0.         0.         0.         0.
 0.         0.         0.01386712 0.         0.01629069 0.
 0.07005909 0.04402712 0.00493618 0.         0.         0.
 0.01013039 0.02450703 0.00829587 0.         0.01306422 0.
 0.         0.         0.         0.         0.01520148 0.03889203
 0.         0.         0.         0.         0.0190643  0.02372515
 0.         0.         0.02138887 0.02082752 0.         0.
 0.0202534  0.         0.         0.         0.01398578 0.02009622
 0.02482119 0.02000152 0.01973631 0.02296207 0.01822757 0.01716528
 0.01507336 0.         0.         0.         0.         0.
 0.         0.03331222 0.02205902 0.02566312 0.00927541]

In [39]:
y_pred = model.predict_proba(X_train)[:,1]
test_pred = model.predict_proba(Z)[:,1]
# predictions = [round(value) for value in test_pred]
test_pred

array([0.00776364, 0.01350979, 0.00642696, ..., 0.00737331, 0.00546772,
       0.00337754], dtype=float32)

In [40]:
auc = roc_auc_score(Y_train.values, y_pred)
print(auc)

0.7954368961080982

In [41]:
sub = pd.read_csv('submission.csv',encoding='utf-8')
p = np.array(test_pred).reshape(-1,1)
sub['target'] = p

In [42]:
sub[['id','target']].to_csv('sub.csv',index=False)

线下AUC随base_score变化：
1      0.77
0.07 0.7872
0.06 0.7908
0.05 0.7897

delete 
0.7908
non-delete
0.7934
non-certid
0.7954